* {
  box-sizing: border-box;
  outline: 0;
}

body {
  background: #eee;
  color: #222;
  direction: rtl;
  font-family: "Alef", “Helvetica Neue”, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

#container {  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header {
  padding: 2rem 4rem;
  font-size: 2rem;
}

#header > h1 {
  margin: 0;
}

#main {
  flex: 1 0 0;
  padding: 2rem 4rem;
}

#footer {
  background: #222;
  color: #fafafa;
  padding: 2rem 4rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.25rem;
  list-style-type: none;
  margin: -0.5rem;
  padding: 0;
}
.gallery-item {
  margin: .5rem;
}

.pog {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  display: block;
  flex: 0 0 100px;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.pog img {
  border: 5px solid transparent;
  border-radius: 8px;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.pog-shiny {
  /* background: linear-gradient(135deg, #bf9b30, #ffcf40 50%, #bf9b30); */
  /* background-clip: -webkit-text;
  background-clip: text;
  color: transparent; */
}

.pog-red {
  background-color: #ea222d;
}
.pog-green {
  background-color: #008e43;
}
.pog-blue {
  background-color: #0498b3;
}
.pog-purple {
  background-color: #8b68a9;
}
.pog-orange {
  background-color: #f8612a;
}
.pog-pink {
  background-color: #f40e91;
}
.pog-poalim {
  background-color: #ebc14a;
}
.pog-brown {
  background-color: #ac4d29;
}
.pog-black {
  background-color: #222;
}
.pog-gray {
  background-color: #636459;
}
.pog-turquoise {
  background-color: #009674;
}
.pog-psycho {
  background-color: #1d2278;
}
.pog-gold {
  background: linear-gradient(135deg, #bf9b30, #ffcf40 50%, #bf9b30);  
}
.pog-dominos {
  background: repeating-linear-gradient(135deg, #f9edcc, #f9edcc 10px, #107da4 10px, #107da4 15px, #e3272a 15px, #e3272a 20px, #f9edcc 20px);
}
.pog-comedy-store {
  background-color: #d90021;
}
.pog-comedy-store-yellow {
  background-color: #f7d840;
}
.pog-crazies {
  background-color: #80752b;
}
.pog-bushido {
  background: repeating-linear-gradient(135deg, #007c3d, #007c3d 10px, #222 10px, #222 15px, #007c3d 15px);
}
.pog-yellow {
  background-color: #f1b137;
}
.pog-horospog {
  background: repeating-linear-gradient(135deg, #ea3835, #ea3835 10px, #eee 10px, #eee 15px, #ea3835 15px);
}

.drawer {
  overflow: visible;
}
.drawer .overlay {
  background: rgba(0, 0, 0, 0.5);
  transition: opacity ease-in-out 100ms;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.drawer .drawer-panel {
  align-items: center;
  background: #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1600px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 350ms;
  width: 75vw;
  height: 100vh;
}
.drawer-panel .close {
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  line-height: 40px;
  margin: 0;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
}
.drawer.drawer-closed .overlay {
  opacity: 0;
  pointer-events: none;
}
.drawer.drawer-closed .drawer-panel {
  transform: translate3d(-100%, 0, 0);
}

.preview {
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 100%;
  height: 100%;
}
.preview .preview-header {
  flex: 0 0 auto;
  width: 100%;
}
.preview-header .preview-number {
  margin: 0;
}
.preview-header .preview-number::before {
  content: "פוג מס' ";
}
.preview-header .preview-details {
  margin-top: .5rem;
}
.preview .preview-main {
  align-items: stretch;
  display: flex;
  flex: 1 1 auto;
  /* flex-direction: column; */
  margin-top: 1rem;
  /* max-width: 1200px; */
  /* max-height: 1200px; */
  position: relative;
}
.preview .preview-nav {
  border: 0;
  background: rgba(0, 0, 0, 0.2);
  color: #ccc;
  flex: 1 0 4rem;
  font-size: 3rem;
  margin: 0;
  opacity: 0;
  padding: .5rem;
  /* position: absolute; */
  top: 0;
  bottom: 0;
  transition: opacity ease-in-out 200ms;
  width: 4rem;
}
.preview .preview-nav:hover {
  opacity: 1;
}
.preview .preview-next {
  left: 0;
}
.preview .preview-prev {
  right: 0;
}
.preview .preview-image {
  cursor: pointer;
  object-fit: contain;
  flex: 1 1 0;
}