<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ .Site.Title }}</title>
<meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}" />
<meta name="keywords" content="{{ with .Site.Params.keywords }}{{ . }}{{ end }}" />
<meta name="author" content="{{ with .Site.Params.author }}{{ . }}{{ end }}" />
<link rel="icon" href="favicon.ico" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alef">
<link rel="stylesheet" type="text/css" href="css/normalize.css" />
<link rel="stylesheet" type="text/css" href="css/default.css" />
{{ range .Site.Params.custom_css }}
<link rel="stylesheet" href="{{ . }}">
{{ end }}