<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ .Site.Title }}</title>
<meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}" />
<meta name="keywords" content="{{ with .Site.Params.keywords }}{{ . }}{{ end }}" />
<meta name="author" content="{{ with .Site.Params.author }}{{ . }}{{ end }}" />
<link rel="icon" href="favicon.ico" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alef">
{{ $assets := .Site.Data.webpack.main }}
{{ if .Site.IsServer }}
  {{ with $assets.css }}
    <link href="{{ relURL . }}" type="text/css" rel="stylesheet">
  {{ end }}
  {{ with $assets.js }}
    <script src="{{ relURL . }}" defer></script>
  {{ end }}
{{ else }}
  {{ with resources.Get $assets.css | resources.Fingerprint }}
    <link href="{{ .RelPermalink }}" type="text/css" rel="stylesheet">
  {{ end }}
  {{ with resources.Get $assets.js | resources.Fingerprint }}
    <script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" defer></script>
  {{ end }}
{{ end }}
