<div id="image" class="drawer drawer-closed">
  <div class="overlay"></div>
  <div class="drawer-panel">
    <button class="close">&times;</button>
    <div class="preview">
      <header class="preview-header">
        <h2 class="preview-number"></h2>
        <div class="preview-details"></div>
      </header>
      <div class="preview-main">
        <div class="preview-container preview-column preview-flow-expand">
          <div class="preview-row preview-flow-expand">
            <button class="preview-nav preview-prev">&blacktriangleright;</button>
            <div class="preview-image-container"></div>
            <button class="preview-nav preview-next">&blacktriangleleft;</button>
          </div>
          <div class="preview-downloads preview-row preview-justify-center">
            <a class="preview-download-png" href="#">תמונה בפורמט PNG</a>
            <a class="preview-download-jpg" href="#">תמונה בפורמט JPG</a>
          </div>
        </div>
        <ol class="preview-variants">
        </ol>
      </div>
      <template class="preview-variant-template">
        <li class="preview-variant"></li>
      </template>
      <template class="backface" id="backface-default">
        {{ partial "backface_standard.svg" . }}
      </template>
      <template class="backface" id="backface-sonol">
        {{ partial "backface_black.svg" . }}
      </template>
      <template class="backface" id="backface-dominos">
        {{ partial "backface_dominos.svg" . }}
      </template>
      <template class="backface" id="backface-buddy">
        {{ partial "backface_buddy.svg" . }}
      </template>
      <template class="backface" id="backface-uwf">
        {{ partial "backface_uwf.svg" . }}
      </template>
      <template class="backface" id="backface-horospog">
        {{ partial "backface_horospog.svg" . }}
      </template>
    </div>
  </div>
</div>
