{{ define "main" }}
<article id="intro">
  {{ partial "intro.md" . | markdownify }}
</article>
{{ $items := $.Site.Data.items.items }}
<h2>באוסף ישנם {{ where $items "missing" "!=" true | len }} מתוך 720 פוגים</h2>
<ul id="pogs" class="gallery">
  {{ range $items }}
  <li class="gallery-item">
    <a href="images/pogs/{{.original}}" class="pog pog-{{.series}}" data-image="images/pogs/{{.preview}}"
      data-thumbnail="images/pogs/thumbs/{{.original}}" data-shiny="{{.shiny}}" data-number="{{.number}}"
      data-series="{{.series}}" data-backface="{{.backface}}" data-missing="{{.missing}}" data-note="{{.note}}">
      <img src="images/pogs/thumbs/{{.original}}" alt="פוג {{.number}}" />
    </a>
    <span class="pog-number">
      {{.number}}
    </span>
    {{ if eq .shiny true }}
    <span class="pog-icon pog-shiny" title="מבריק">&starf;</span>
    {{ end }}
    {{ if .note }}
    <span class="pog-icon pog-note" title="הערה">?</span>
    {{ end }}
  </li>
  {{ end }}
</ul>
<aside>
  <h3>הערות</h3>
  <ul>
    <li>הפוגים 421 עד 450 מעולם לא פורסמו.</li>
    <li>"סדרת היקרים" כללה כפילויות ואי-סדר במדבקות ההולוגרמה על הפוגים.</li>
  </ul>
</aside>
<article>
  {{ partial "thanks.md" . | markdownify }}
</article>
<article id="missing">
  <h2>החסרים</h2>
  {{ range where $items "missing" "==" true }}
  {{ if ne .series "missing" }}
  <span class="missing-number missing-{{.series}}">{{.number}}</span>
  {{ end }}
  {{ end }}
</article>

{{ partial "preview.html" . }}

{{ $assets := .Site.Data.webpack.main }}
{{ if .Site.IsServer }}
{{ with $assets.js }}
<script src="{{ relURL . }}" defer></script>
{{ end }}
{{ else }}
{{ with resources.Get $assets.js | resources.Fingerprint }}
<script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" defer></script>
{{ end }}
{{ end }}
{{ end }}
